.ErrorUI {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: clamp(1rem, 1vw + 1rem, 3rem);

    &__message1 {
        font-weight: 600;
    }

    &__message2 {
        text-align: center;
    }
}